<!DOCTYPE html>
<html lang="nl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{{ site.name }}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
        tailwind.config = {
            theme: {
                extend: {
                    colors: {
                        'krijgers': {
                            50: '#fdf8f0',
                            100: '#f9edd9',
                            200: '#f2d7b0',
                            300: '#e9bc7e',
                            400: '#df9a4d',
                            500: '#d6802a',
                            600: '#c46a20',
                            700: '#a3521d',
                            800: '#84421f',
                            900: '#6c371c',
                        },
                        'krijgers-gold': {
                            50: '#fefdf3',
                            100: '#fcf8d9',
                            200: '#f8efb3',
                            300: '#f2e07e',
                            400: '#ebce4a',
                            500: '#e3ba22',
                            600: '#d4a843',
                            700: '#a37318',
                            800: '#865c1a',
                            900: '#724c1b',
                        }
                    }
                }
            }
        }
    </script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
    <link rel="stylesheet" href="/assets/css/app.css">
</head>
<body class="bg-gray-50 min-h-screen flex flex-col">
    {% include 'layouts/gwin/header.twig' %}

    {% include 'components/flash-messages.twig' %}

    <main class="flex-grow">
        {% block content %}{% endblock %}
    </main>

    {% include 'layouts/gwin/footer.twig' %}

    <script src="/assets/js/app.js"></script>
    {% block scripts %}{% endblock %}
</body>
</html>
