APP_ENV=development
APP_DEBUG=true
APP_URL=http://localhost

DB_HOST=localhost
DB_NAME=gwin
DB_USER=root
DB_PASS=

SITE_DEFAULT=gwin

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

MOLLIE_API_KEY=
MOLLIE_REDIRECT_URL=
MOLLIE_WEBHOOK_URL=

CLICKSEND_API_USERNAME=
CLICKSEND_API_KEY=
CLICKSEND_SENDER_NAME=G-Win

MAIL_HOST=
MAIL_PORT=587
MAIL_USER=
MAIL_PASS=
MAIL_FROM=
