{% if breadcrumbs is defined %}
<nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-4">
    <ol class="flex space-x-2 text-sm text-gray-500">
        <li><a href="/" class="hover:text-krijgers-800">Home</a></li>
        {% for crumb in breadcrumbs %}
            <li class="before:content-['/'] before:mx-2">
                {% if crumb.url %}
                    <a href="{{ crumb.url }}" class="hover:text-krijgers-800">{{ crumb.label }}</a>
                {% else %}
                    <span class="text-gray-800">{{ crumb.label }}</span>
                {% endif %}
            </li>
        {% endfor %}
    </ol>
</nav>
{% endif %}
